.form-control {
    width: 100%;

}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.container{
    border-radius: 5px;
}

.qTitle{
    margin-bottom: 20px;
    margin-top: 20px;
}

.rankItem{
    margin-bottom: 20px;
}

.right {
    float: right;
    margin: 10px;
}

.matrixRange{
    display: inline-block;
}

.matrixRange .rangeBlock{
    margin-left: auto;
    margin-right: auto;
}

#grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}

#grid #radio{
    display: flex;
    align-items: center;
    justify-content: center;
}

#matrixBody{
    padding-top: 10px;
    padding-bottom: 10px;
}