<br><br>

<div class="container" ng-controller="matrixTable">
    <input class="row form-control bg-light qTitle" type="text" name="qTitle" ng-model="matrixQ" ng-hide="isPreview" placeholder="Click to write question text">
    <h6 ng-show="isPreview">{{matrixQ}}</h6>

    <div class="container">
        <div class="row">
            <div class="col-md-1 border-right">
                <div class="row">
                    <input type="checkbox" checked="checked">
                    <h5 class="text-center">Q{{q}}</h5>
                </div>
                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#matrixModal">
                    <i class="fas fa-cog"></i>
                </button>
            </div>
            <div class="col-md-11">
                <div class="row" id="matrixHeader">
                    <div class="col-md-3"></div>
                    <div class="col-md-9" >
                    <span class="matrixRange" id="grid">
                        <span class="col rangeBlock" ng-repeat="item in rangeCol">
                            <span ng-hide="isPreview">
                                <input type="text" class="form-control bg-light rankItem" ng-model="range[$index]" placeholder="Write range">
                            </span>
                            <span ng-show="isPreview">
                                {{range[$index]}}
                            </span>
                        </span>
                    </span>
                    </div>
                </div>

                <div class="row" id="matrixBody" ng-repeat="item in rangeRow">

                    <div class="col-md-3" ng-hide="isPreview">
                        <input type="text" class="form-control bg-light rankItem" ng-model="statements[$index]" placeholder="Click to write Item 1">
                    </div>
                    <div class="col-md-3" ng-show="isPreview">{{statements[$index]}}</div>
                    <div class="col-md-9">
                        <form class="form-check form-check-inline" id="grid">
                            <input class="form-check-input" id="radio" name="rating" type="radio" ng-repeat="item in rangeCol">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="matrixModal" tabindex="-1" role="dialog" aria-labelledby="matrixModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Edit Question</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <br>
                            <input style="margin: 10px;" type="number" name="column" ng-model="numCol" placeholder="Number of columns"/>
                            <input style="margin: 10px;" type="number" name="row" ng-model="numRow" placeholder="Number of rows"/>
                            <br>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editMatrix()">Create</button>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <button type="button" class="btn btn-primary right" ng-click="isPreview=true">
        <span class="fas fa-sign-in-alt"> Preview</span>
    </button>
</div>